{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

				<!-- Carousel -->

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">
					{% for produit in produits %}
                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img class="img-responsive" style="max-width:170px;maw-height:170" src="{{ asset(produit.image) }}" alt="">
                            <div class="caption">
                                <h4 class="pull-right">{{ produit.prix }} <span class="glyphicon glyphicon-euro"></span></h4>
                                <h4><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.titre }}</a></h4>
                                <p>{{produit.description}} <a href="{{ path('produit_show', { 'id': produit.id }) }}">...</a></p>
    							<p class="text-center">
    								<a class="btn btn-primary" href="{{ path('produit_panier', { 'id': produit.id }) }}">Ajouter au panier</a>
    							</p>
                            </div>
                            <br>
                        </div>
                    </div>
					{% endfor %}


                </div>

        </div>

    </div>

{% endblock %}
