{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="panel panel-default">
    		<div class="panel-heading">Votre Panier</div>
    
    		<div class="panel-body table-responsive">
    			<!-- Table -->
    			<table class="table table-condensed table-hover">
    				<thead>
    					<tr>
    						<th>Titre</th>
    						<th>Quantité</th>
    						<th>Prix unitaire</th>
    						<th>Couleur</th>
    						<th>Actions</th>
    					</tr>
    				</thead>
    				<tbody>
    					{% for produit in produits %}
    					<tr>
    						<td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.titre }}</a></td>
    						<td>Quantite TODO</td>
    						<td>{{ produit.prix }} <span class="glyphicon glyphicon-euro"></span></td>
    						<td>Todo couleur</td>
    						<td><a href="{{ path('produit_delete', { 'id': produit.id }) }}">Retirer du panier</a></td>
    					</tr>
    					{% endfor %}
    				</tbody>
    				<tfoot>
    					<tr>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td>
    							<h4>
    								<span class="label label-warning"> Sous-total ({{nombrearticle}} articles) : {{prixtotal}} 
    									<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
    								</span>
    							</h4>
    						</td>
    					</tr>
    				</tfoot>
    			</table>
    		</div>
    	</div>
	</div>

	<div class="row">
		<div class="pull-right">
    		<a class="btn btn-primary" href="{{ path('produit_index' )}}">Ajouter d'autres produits</a> 
    		<a class="btn btn-success" href="#">Payer</a>	
		</div>
	</div>

</div>

{% endblock %}
