{% extends 'base.html.twig' %}

{% block body %}
    <h1>Couleur list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Namecouleur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for couleur in couleurs %}
            <tr>
                <td><a href="{{ path('couleur_show', { 'id': couleur.id }) }}">{{ couleur.id }}</a></td>
                <td>{{ couleur.namecouleur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('couleur_show', { 'id': couleur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('couleur_edit', { 'id': couleur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('couleur_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
